# Python_Lab_2.1

### Task 1
1. Write a function named is_prime that takes a number as a parameter and returns True if the number is prime and False otherwise. Print whether the number 29 is prime.

In [218]:
from sympy import isprime

def is_prime(x):
    return isprime(x)

In [220]:
is_prime(29)

True

### Task 2
1. Create a list of 10 numbers and sort them in descending order using the sort() function.
2. Use the len() function to print the length of the sorted list.
3. Use the zip() function to combine three lists (names, ages, and cities) into a list of tuples.
4. Use the range() function to create a list of even numbers from 2 to 20 and print the list.

In [223]:
li = [1,2,3,4,5,6,7,8,9,10]

In [225]:
li.sort(reverse = True)

In [227]:
li

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [229]:
len(li)

10

In [231]:
names = ["Abdulkrem", "Adel"]

In [233]:
ages = [27, 27]

In [235]:
cities = ["Ha'il, Saudi Arabia", "Al Madina Al Monawara"]

In [237]:
a = tuple(zip(names, ages, cities))

In [239]:
a

(('Abdulkrem', 27, "Ha'il, Saudi Arabia"),
 ('Adel', 27, 'Al Madina Al Monawara'))

In [241]:
b = list(range(2, 21, 2))

In [243]:
b

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Task 3
Build a phone book program that receives the phone number, and returns the name of the owner.
You can follow the table below:

| Name     | Number     |
| -------- | ---------- |
| Amal     | 1111111111 |
| Mohammed | 2222222222 |
| Khadijah | 3333333333 |
| Abdullah | 4444444444 |
| Rawan    | 5555555555 |
| Faisal   | 6666666666 |
| Layla    | 7777777777 |

- If the number exists, print the owner. Otherwise, print "Sorry, the number is not found".
- If the number is less or more than 10 numbers, print "This is invalid number".
- If the number contains letters or symbols, print "This is invalid number".

In [246]:
d = { 
        "Amal" : "1111111111", 
        "Mohammed" : "2222222222", 
        "Khadijah" : "3333333333", 
        "Abdullah" : "4444444444", 
        "Rawan" : "5555555555", 
        "Faisal" : "6666666666", 
        "Layla" : "7777777777" 
    }

In [248]:
def searchByNumber(n):
    if len(n) == 10:
        special_characters = "!@#$%^&*()-+?_=,<>/\"'"
        if not any( c in special_characters for c in n):
            is_found = False
            for i,j in d.items():
                if j == n:
                    print(i)
                    is_found = True
                    break
            if not is_found:
                print("Sorry, the number is not found")
        else:
            print("This is invalid number")
    else:
        print("This is invalid number")

In [250]:
searchByNumber("12345678910")

This is invalid number

In [252]:
searchByNumber("123456789@")

This is invalid number

In [254]:
searchByNumber("1111111112")

Sorry, the number is not found

In [256]:
searchByNumber("1111111111")

Amal

### Task 4
- Given the following list : [5, 4, 17, 19, 30, 2, 7, 10, 45]
    1. Use a lambda function to filter out only the odd numbers.
    2. Print the new list of odd numbers.

In [259]:
l = [5, 4, 17, 19, 30, 2, 7, 10, 45]

In [261]:
odd = list(filter(lambda x: x % 2 == 1, l))

In [263]:
odd

[5, 17, 19, 7, 45]